version: '3.8'
services:
  database:
    image: postgres:15
    container_name: concert-ticket-database
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - ./.env

  redis:
    image: redis:7
    container_name: concert-ticket-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
volumes:
  db_data:
  redis_data: